<h1>Welcome to Stocks!</h1>
<h3>The Free! competitive stock trading application </h3>

<h4>New User? <h4>
<%= link_to 'Sign Up', new_user_path %>

<h4>else: </h4>
<%= link_to 'Sign In', login_path %>
