/* line 1, /Users/admin/Desktop/sites/stocks/app/assets/stylesheets/nav.css.scss */
#navbar {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
}
/* line 6, /Users/admin/Desktop/sites/stocks/app/assets/stylesheets/nav.css.scss */
#navbar #logo {
  float: left;
}
/* line 9, /Users/admin/Desktop/sites/stocks/app/assets/stylesheets/nav.css.scss */
#navbar #nav-list {
  float: right;
  display: inline-block;
}
