<p id="notice"><%= notice %></p>
<div id="stock-list">
  <header>
    <h1>Companies</h1>
  </header>

  <section>
    <%= react_component("StockList", props: {stocks: @stocks}, prerender: true) %>
  </section>
</div>
