<p id="notice"><%= notice %></p>

<div id="post-list">
  <h1>Posts</h1>
  <ul>
    <% @posts.each do |post| %>
    <li>
      <aside>
        <%stock = Stock.find(post.stock_id)%>
        <%user = User.find(post.user_id)%>
        <h4><%= link_to(stock.company, stock) %></h4>
        <h5><%= link_to(user.name, user) %></h5>
      </aside>
      <article>
        <p><%= post.content %></p>
      </article>
    </li>
    <% end %>
  </ul>
</div>
