// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post-list {
  h1{
    padding: 10px;
  }

  ul {
    list-style: none;
    li {
      height: 150px;
      display: flex;
      aside {
        order: 1;
        flex: 1;
        margin: auto;
      }
      article {
        order: 2;
        flex: 2;
        margin: auto;
      }
    }
  }

}
