// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//user show page
#user-show {
  display: flex;
  text-align: center;
  #sidebar {
    margin: auto;
    flex: 1;
    #bio {
      margin: 5px;
      border: 1px solid black;
      border-radius: 3px;
    }
    #portfolio {
      margin: 10px;
      border: 1px solid black;
      border-radius: 3px;
    }
  }
  #userposts {
    margin: auto;
    flex: 2;
    padding: 10px;
    ul li {
      border: 1px solid blue;
      border-radius: 3px;
      list-style: none;
      height: 90px;
      font-size: 8px;
      margin-top: 5px;
    }
  }
}
