<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <% if logged_in? %>
        <h4> Hi, <%= current_user.name %> </h4>
      <% end %>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <div>
        <% if logged_in? %>
          <li role='presentation'><%= link_to "Log out", logout_path, method: :delete, role: 'button' %></li>
        <% else %>
          <li role='presentation'><%= link_to "Log in", login_path, role: 'button' %></li>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>
